@import 'null';
@import 'vars';
@import 'mixins';

html{
    scroll-behavior: smooth;
    font-family: $fontfamily;
}
body{
    margin: 0 auto;
}

.body.lock{
    @media (max-width: 992px){
        overflow: hidden;
    }
}

.container{
    width: 1400px;
}

//title
//=========================

.title{
    font-family: 'Poppins';
    @include fontsize(27px, 30px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #157698;
    position: relative;
    margin-left: 35px;
    &:before{
        content: '';
        width: 10px;
        height: 30px;
        background-color: #157698;
        position: absolute;
        top: 0;
        left: -35px;
    }
}

//block
//=========================

.block{
    margin: 50px 0;
}

//header
//=========================

.header{
    max-width: 1920px;
    height: 390px;  
    display: block;
    margin: 0 auto;   
    &-container{
        width: 1400px;
        height: 100%;  
        position: relative;
        margin: 0 auto;
        background-color: #4C4E50;
        .header-info{
            position: relative;
            max-width: 992px;
            height: 100%;
            background-color: #fff;
            margin-left: auto;
            margin-right: 0;
            padding: 75px 35px 35px 75px;
            z-index: 5000;
            .header-title{
                @include fontsize(58px, 62px);
                color: #A9A9A9;
                text-transform: uppercase;
                margin-bottom: 7px;
                span{
                    font-weight: 900;
                    color: #157698;
                }
            }
            .header-subtitle{
                @include fontsize(27px, 30px);
                color: #157698;
                text-transform: uppercase;
                margin-bottom: 75px;
            }
            .social-links{
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                .social-link-item{                    
                    display: flex;
                    align-items:center;
                    justify-content: flex-start;
                    margin-right: 55px;
                    @include fontsize(24px, 27px);
                    color: #333;
                    text-decoration: none;
                    &:hover{
                        cursor: pointer;
                        color: gray;
                    }
                    svg {
                        width: 35px;
                        height: 35px;
                        margin-right: 15px;
                    }
                    svg path{  
                        fill: #157698;
                    }
                }
            }
        }
        .avatar{
            width: 250px;
            height: 250px;
            background-color: green;
            position: absolute;
            left: 158px;
            bottom: 0;
            z-index: 100;
            &::before{
                content: '';
                width: 1312px;
                height: 390px;
                background-color: #157698;
                position: absolute;
                left: -70px;
                bottom: -70px;
                z-index: -1;
            }
            img{
                z-index: 500;
                width: 100%;
                height: 100%;
            }
        }
    }
}

//main
//=============================

.wrapper{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
    &-container{
        width: 1400px;
        display: flex;
        margin: 0 auto;
        .main-aside{
            min-width: 408px;
            max-height: 2300px;
            background-color: #fff;
            display: block;
            padding: 135px 5px 30px 88px;
            .main-about{
                .about-text{
                    font-family: 'Poppins';
                    @include fontsize(23px, 25px);
                    letter-spacing: 0.03em;
                    color: #333;
                    margin: 50px 0;
                    padding-right: 5px;
                }
            }
            .contact{
                .contact-title{
                    font-family: 'Poppins';
                    @include fontsize(27px, 30px);
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #157698;
                }
                .contact-block{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .contact-item{
                        margin-bottom: 25px;
                        display: flex;
                        align-items: center;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    a{
                        @include fontsize(18px, 20px);
                        letter-spacing: 0.05em;
                        color: #4F4F4F;
                        text-decoration: none;
                        &:hover{
                            cursor: pointer;
                            color:#999999
                        }
                        img{
                            margin-right: 10px;                            
                        }
                    }
                } 
            }
            .education{
                .education-block{
                    .education-item{
                        .place{
                            font-family: 'Poppins';
                            @include fontsize(23px, 25px);
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #333;
                            margin-bottom: 10px;
                        }
                        .time{
                            font-weight: 600;
                            @include fontsize(16px, 18px);
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.03em;
                            color: #999999;
                            span{
                                margin: 0 50px;
                                position: relative;
                                &:before{
                                    content: '';
                                    width: 26px;
                                    height: 3px;
                                    background-color: #c4c4c4;
                                    position: absolute;
                                    display: flex;
                                    top: 50%;
                                    left: -35px;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                }
            }
            .sertificats{
                &-block{
                    display: flex;
                    flex-direction: column;                    
                    a{
                        font-family: 'Poppins';
                        @include fontsize(23px, 25px);
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #333;
                        text-decoration: none;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:hover{
                            cursor: pointer;
                            color:#999999
                        }
                    }
                }
            }
            .languages{
                &-block{
                    display: flex;
                    flex-direction: column; 
                    p{
                        font-family: 'Poppins';
                        @include fontsize(23px, 25px);
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #333;
                        text-decoration: none;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .main{
            .main-info{
                min-width: 922px;
                background-color: #E1E3E5;
                max-height: 2300px;
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                .skills{
                    padding-top: 135px;
                    .skill-boks{
                        max-width: 50%;
                        margin: 50px auto;
                        .skills-item{
                            width: 450px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 25px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            .skill-name{
                                font-family: 'Poppins';
                                font-weight: 500;
                                @include fontsize(23px, 25px);
                                letter-spacing: 0.01em;                            
                                color: #333333;
                            }
                            progress {
                                border:0;
                                width: 300px;
                                height: 15px;
                                border-radius: 5px;
                                background: #f1f1f1;
                            }
                            progress::-webkit-progress-bar {
                                width: 300px;
                                height: 20px;
                                border-radius: 5px;
                                background: #f1f1f1;
                            }
                            progress::-webkit-progress-value {
                                border-radius: 5px;
                                background: #157698;
                            }
                            progress::-moz-progress-bar {
                                border-radius: 5px;
                                background: #157698;
                            }
                        }
                    }
                }
                .tools{
                    .tool-boks{
                        max-width: 50%;
                        margin: 50px auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .tool-item{                        
                            .tool-name{
                                font-family: 'Poppins';
                                font-weight: 500;
                                @include fontsize(23px, 25px);
                                letter-spacing: 0.01em;                            
                                color: #333333;
                                margin-right: 25px;
                            }
                           
                        }
                    }
                }
                .projects{
                    .project-boks{
                        width: 100%;
                        padding: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .project-item{
                            width: 30%;
                            height: 200px;
                            border-radius: 15px;
                            transition: all 0.2s linear;
                            margin-bottom: 40px;
                            &:hover{
                                cursor: pointer;
                                box-shadow: 0px 0px 9px 5px rgba(17,17,136,0.35);
                                -webkit-box-shadow: 0px 0px 9px 5px rgba(17,17,136,0.35);
                                -moz-box-shadow: 0px 0px 9px 5px rgba(17,17,136,0.35);
                            }
                            a{
                                width: 100%;
                                height: 100%; 
                                display: inline-flex;                           
                            }
                            .project-name{
                                font-family: 'Poppins';
                                font-weight: 400;
                                font-style: italic;
                                @include fontsize(23px, 25px);
                                letter-spacing: 0.01em;                            
                                color: #333333;
                                text-align: center;
                                margin-top: 15px;
                            }
                        }
                        .item-1{
                            background: url("/assets/images/project-1.jpeg");
                            background-size: cover;
                        }
                        .item-2{
                            background: url("/assets/images/project-2.jpeg");
                            background-size: cover;
                        }
                        .item-3{
                            background: url("/assets/images/project-3.jpeg");
                            background-size: cover;
                        }
                        .item-4{
                            background: url("/assets/images/project-4.jpeg");
                            background-size: cover;
                            background-position: center;
                            margin-bottom: 0;
                        }
                        .item-5{
                            background: url("/assets/images/project-5.jpeg");
                            background-size: cover;
                            margin-bottom: 0;
                            
                        }
                        .item-6{
                            visibility: hidden;
                        }
                    }
                }
                .code{
                    .code-block{
                        padding: 35px 0;
                        pre{
                            @include fontsize(23px, 25px);
                            font-style: italic;
                            letter-spacing: 0.01em;                            
                            color: #333333;
                            span{
                                color: red;
                            }
                            .style1{
                                color: orange;
                            }
                            .style2{
                                color: blue;
                            }
                        }
                    }
                }
                .hobbies{
                    background-color: #4C4E50;
                    width: 100%;
                    padding: 50px auto;
                    flex: 1 0 auto;
                    .hobbies-title{
                        color: #fff;
                        padding-top: 50px;
                        &:before{
                            background-color: #fff;
                            top: 50px;
                        }
                    }
                    .hobby-boks{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 70%;
                        margin: 50px auto;
                        .hobby-item{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            p{
                                margin-top: 15px;
                                color: #fff;
                                font-weight: 400;
                                @include fontsize(23px, 25px);
                                letter-spacing: 0.01em;  
                            }
                        }
                    }
                }
            }
        }
    }
}

//footer
//===============

.footer{  
    max-width: 1920px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &-container{
        width: 1400px;
        height: 100px;
        padding: 0 20px;
        background-color: #E1E3E5;
        .footer-wrapper{
            padding: 0 50px;
            display: flex;
            align-items:center;
            justify-content: space-between;
            .year{
                font-family: 'Poppins';
                font-weight: 900;
                @include fontsize(32px, 36px);
                letter-spacing: 0.01em;  
                transform: rotate(30deg);
            }
            a{
                width: 100px;
                height: 100px;
                &:hover{
                    cursor: pointer;
                }
            }
            a svg{
                transform: rotate(-30deg);
                width: 100px;
                height: 100px;
            }
            .git svg{
                width: 50px;
                height: 50px;
                margin-right: 25px;
                transform: none;
            }
            .git {
                width: 296px;
                display: flex;
                align-items: center;
                text-decoration: none;
                font-family: 'Poppins';
                font-weight: 500;
                @include fontsize(32px, 36px);
                letter-spacing: 0.01em; 
                color: black; 
            }
            
        }
    }
}



